<div nzItemLayout="horizontal" class="h-100 d-flex flex-column">
  <div class="d-flex flex-column p-2">
    <div class="d-flex flex-row justify-content-between">
      <span class="title-text primary-color">Recent</span>
      <span class="title-text">{{ phoneNumber?.name }}</span>
    </div>
    <!-- <nz-input-group [nzSuffix]="suffixIconSearch" nzSize="large">
          <input
            type="number"
            nz-input
            placeholder="Search text"
            [formControl]="searchControl"
          />
        </nz-input-group>
        <ng-template #suffixIconSearch>
          <span nz-icon nzType="search"></span>
        </ng-template> -->
  </div>
  <div class="d-flex flex-column flex-grow-1 mt-2 list-container px-2">
    @if(isLoading) {
    <nz-spin nzTip="Loading..." class="h-100"></nz-spin>
    }@else {
    @for (item of contactMessageGroups; track item.id) {
    <div (click)="selectItem(item)" class="d-flex flex-row hover-list-item cursor-pointer px-2"
      [class.selected-item]="selectedContactId == item.id">
      <div class="d-flex flex-row align-items-center p-1 justify-content-between w-100">
        <div class="d-flex flex-row align-items-center flex-grow-1 overflow-hidden">
          <div class="contact-icon-wrapper">
            <nz-badge nzSize="small" [nzCount]="item.newMessageCount" [nzOverflowCount]="99" [nzStyle]="{
                backgroundColor: '#eb3535',
                color: '#fff',
              }">
              @if(item.conversationType == 'Group') {
              <i class="fa fa-users me-3 primary-color fs-4" aria-hidden="true"></i>
              }@else {
              <i class="fa fa-user me-3 primary-color fs-4"></i>
              }
            </nz-badge>
          </div>

          <div class="d-flex flex-column flex-grow-1 overflow-hidden">
            <div class="d-flex flex-row align-items-center">
              <span [class.fw-bold]="item.newMessageCount > 0" nz-tooltip [nzTooltipTitle]="item.name"
                [nzTooltipColor]="'blue'" nzTooltipPlacement="topLeft" class="flex-grow-1 fs-6 text-truncate me-1">
                {{ item.name }}
              </span>
            </div>

            <span class="fw-light text-truncate recent-message" *ngIf="item.id != 'New_Group_Conversation'">
              {{ _last(item.messages)?.text }}</span>
          </div>
        </div>

        <span *ngIf="item.id != 'New_Group_Conversation'" class="fst-italic text-truncate"
          style="font-size: 11px; width: 75px">
          {{ _last(item.messages)?.timeCreated | dateStringFormat }}</span>
      </div>
    </div>
    } @if (contactMessageGroups.length === 0) {
    <nz-list-empty />
    }
    }
  </div>
</div>