<div class="emotion-layout overflow-hidden">
  <nav class="navbar navbar-expand-md fixed-top navbar-dark menu-bg-color">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <img src="assets/images/active_logo.png" style="width: 30px;" alt="logo" class="logo me-1" />
        <span class="fs-4 fw-bold text-white">FreeBox</span>
      </div>

      <div class="d-flex align-items-center">
        <button class="text-white fs-6 p-0" nz-button nzType="link" (click)="openPolicy()"><i
            class="fa fa-file-text-o me-1" aria-hidden="true"></i>Account Policies</button>
        <span class="mx-3">|</span>
        <div class="d-flex flex-column">
          <span class="logged-in-user me-2 fs-5">Welcome, <strong>{{ username }}</strong></span>
          <span style="font-size: 10px;" class="fst-italic">Expired Date: {{expiredDate |
            dateStringFormat:'dd/MM/yyyy HH:mm'}}</span>
        </div>
        <fa-icon [icon]="faSignOutAlt" role="button" (click)="logout()" />
      </div>
    </div>
  </nav>
  <main class="body-panel">
    <router-outlet></router-outlet>
  </main>
</div>

<nz-drawer [nzClosable]="false" [nzVisible]="visiblePolicyDialog" nzPlacement="right" nzTitle="Account Policies"
  (nzOnClose)="closePolicy()">
  <ng-container *nzDrawerContent>
    <p><i class="fa fa-check-square-o" aria-hidden="true"></i> Each account user can use up to 20 phone numbers</p>
    <p><i class="fa fa-check-square-o" aria-hidden="true"></i> Allows sending messages to a group of people</p>
    <p><i class="fa fa-check-square-o" aria-hidden="true"></i> Limited to texting up to 30 different phone numbers for
      each available phone number</p>
    <p><i class="fa fa-check-square-o" aria-hidden="true"></i> Unlimited number of messages on 1 phone number</p>
    <p><i class="fa fa-check-square-o" aria-hidden="true"></i> Time to replace the phone number is 2 days</p>
    <p><i class="fa fa-check-square-o" aria-hidden="true"></i> We only accept reports for login issues due to incorrect
      account credentials.</p>
  </ng-container>
</nz-drawer>