<div class="emotion-layout overflow-hidden">
  <nav class="navbar navbar-expand-md fixed-top navbar-dark menu-bg-color">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <!-- <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/emotion/select"><fa-icon [icon]="faClipboardQuestion"
                class="me-1" />Mood</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/emotion/dashboard"><fa-icon [icon]="faChartLine"
                class="me-1" />Dashboard</a>
          </li>
        </ul> -->
      </div>
      <div class="d-flex align-items-center">
        <!-- <div class="me-2">
          <ng-toggle [value]="toogleConfig.value" [width]="70" [height]="27" [labels]="toogleConfig.labels"
            [color]="toogleConfig.color" [switchColor]="toogleConfig.switchColor" (input)="changeTheme()"></ng-toggle>
        </div> -->

        <span class="logged-in-user me-2">Welcome, <strong>{{ username }}</strong></span>
        <fa-icon [icon]="faSignOutAlt" role="button" (click)="logout()" />
      </div>
    </div>
  </nav>
  <main class="body-panel">
    <router-outlet></router-outlet>
  </main>
</div>