.contact-panel {
  overflow-x: auto;
}

.number-list {
  overflow-x: auto;
}

.main-chat-container {
  overflow-x: auto;
}

.phone-list-panel {
  // max-width: 300px;
  // min-width: 300px;
  width: 300px;
}

.contact-panel {
  // max-width: 400px;
  // min-width: 400px;
  width: 400px;
}
