.contact-panel {
  overflow-x: auto;
}

.number-list {
  overflow-x: auto;
}

.main-chat-container {
  overflow-x: auto;
}

.phone-list-panel {
  width: 305px;
  min-width: 305px;
}

.contact-panel {
  width: 400px;
  min-width: 400px;
}

.chatbox-panel {
  min-width: 600px;
}
