// dark-theme.scss
$background-color: #121212;
$text-color: #ffffff;
$primary-color: #40a578;
$accent-color: #006769;

body.green-theme {
  .main-bg-color {
    // background-color: $background-color;
    background: linear-gradient(180deg, $primary-color, #ffffff);
  }

  .primary-bg-color {
    background-color: $primary-color;
  }

  .primary-text-color {
    color: $text-color;
  }

  .primary-color {
    color: $primary-color;
  }

  .primary-button {
    background-color: $primary-color;
    color: #fff;
  }

  .secondary-button {
    background-color: #fff;
    border-color: $primary-color;
    color: $primary-color;
  }

  .primary-active {
    color: $accent-color;
    border: 3px solid $accent-color;
  }

  .icon-button:hover {
    // transform: rotate(20deg); /* Rotate on hover */
    color: $primary-color !important;
  }

  .icon-button:active {
    transform: scale(1.1);
    color: $primary-color !important;
  }
}
