:host {
  height: 100%;
}

.list-container {
  overflow-y: auto;
  overflow-x: hidden;
}

.hover-list-item {
  transition: transform 0.3s ease, background-color 0.3s ease;
  max-height: 50px;
  min-height: 50px;
  height: 50px;
}

.hover-list-item:not(.expired-item-bg):not(.error-item-bg):hover {
  background-color: #f0f5ff;
}

.selected-item {
  background-color: #e6f7ff;
  color: #1890ff;
  font-weight: bold;
  border: 1px solid #91d5ff;
}

.expired-item-bg {
  background: antiquewhite;
}

.error-item-bg {
  background: #ff575791;
}
