/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #eee;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #9bbfcf62;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8b8b8b;
}
