/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #eee;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4e515262;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #444444;
}
